@font-face {
  font-family: "Figtree";
  src: url("fonts/Figtree-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Figtree";
  src: url("fonts/Figtree-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Figtree";
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  line-height: 22px;

}

.page-wrapper {
  width: 1250px;
  margin: 0 auto;
  /*margin-top: 1px;
  margin-left: 335px;*/
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/*Header*/

.header {
  border: 1px solid #D9D9D9;
}

.header-wrapper {
  min-height: 85px;
  display: flex;
  /*border: 2px solid red;*/
  justify-content: space-between;
  align-items: center;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation__list a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: inherit;
}

.main-navigation__item {
  padding: 32px 20px;
  margin-right: 20px;
  /*border: 2px solid green*/
}

.main-navigation__item:last-child {
  margin-right: 0;
}

/*Hero*/

.hero {
  height: 600px;
  /*border: 2px solid grey;*/
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
}

.hero-box {
  width: 709px;
  padding-top: 158px;
  /*border: 2px solid red;*/
}

.hero__title{
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.hero__button {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  background-color: #B01736;
  text-decoration: none;
  padding: 18px 28px;
  border-radius: 8px;
}

.hero__button:hover {
  background-color: #D43152;
}

/*Info*/


.info-wrapper {
  box-shadow: 0px 0px 32px 0px #00000014;
  margin-bottom: 100px;
}

.info__desc {
  width: 890px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 110px;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;

}
.info__desc span {
  color: #B01736;
}

/*Statistics*/

.statistics__list {
  width: 1000px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*border: 2px solid rgb(39, 219, 36);*/
}
.statistics__item span{
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;
  color: #A30C33;
}

.statistics__item {
  min-width: 296px;
  margin-right: 36px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #ede2e2;*/
}

.statistics__item:nth-child(3) {
  margin-right: 0;
}

.statistics__item-box {
  min-height: 112px;
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
}

.statistics__item p {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}


/*Map*/

.map {
  margin-bottom: 100px;
}

.map-header-wrapper {
  min-height: 80px;
  box-shadow: 0px 0px 32px 0px #00000014;
}

.map-header {
  min-height: 80px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-header__option {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.map-header__option p {
  margin: 0;
}

.map-header__option select {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #444444;
}

.map-header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.map-header__list:last-child {
  margin-right: 0;
}

.map-header__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 30px;
  color: #444444;
}

.map-header__item a{
  text-decoration: none;
  color: #444444;
}

.map-header__item a:hover {
  padding-bottom: 30px;
  color: #A30C33;
  border-bottom: 3px solid #A30C33;
}

/*Mission*/

.mission {
  min-height: 471px;
  background-color: #A30C33;
  background-image: url("/img/left-pattern.svg"),
  url("/img/right-pattern.svg");
  /*background-position: 0px 50%, 953px 50%;*/
  background-position: left, right;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.mission-box{
  min-height: 471px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-box h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 40px;

}

.mission-box p {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

/*Directions*/

.directions {
  margin-bottom: 100px;
}

.directions h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.directions__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -22px;
}

.directions__item {
  width: 609px;
  height: 260px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 22px;
}

.directions__item:nth-child(1) {
  background-image: url("/img/pic1.png");
  background-repeat: no-repeat;
}

.directions__item:nth-child(2) {
  background-image: url("/img/pic2.png");
  background-repeat: no-repeat;
}

.directions__item:nth-child(3) {
  background-image: url("/img/pic3.png");
  background-repeat: no-repeat;
}

.directions__item:nth-child(4) {
  background-image: url("/img/pic4.png");
  background-repeat: no-repeat;
}

.directions__item:nth-child(5) {
  background-image: url("/img/pic5.png");
  background-repeat: no-repeat;
}
.directions__item:nth-child(6) {
  background-image: url("/img/pic6.png");
  background-repeat: no-repeat;
}

.directions__item:nth-child(even) {
  margin-right: 0;
}

.directions-box {
  background-color: rgba(45, 54, 83, 0.6);
}

.directions-box p {
  padding: 28px 0 28px 20px;
  margin: 0;
  color: #FFFFFF;
}

/*Compensation*/

.compensation-wrapper {
  box-shadow: 0px 0px 32px 0px #00000014;
  margin-bottom: 100px;
}

.compensation-box {
  margin: 0 auto;
  padding-top: 80px;
  width: 954px;
  /*border: 2px solid red;*/
}

.compensation h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.compensation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 75px;
  margin-bottom: 70px;
}

.compensation__list--position {
  justify-content: center;
}

.compensation__list::after {
  position: absolute;
  content: "";
  width: 1050px;
  height: 1px;
  background-color: rgba(45, 54, 83, 0.1);
  left: -50px;
  bottom: 0;
}

.compensation__item {
  width: 178px;
  height: 160px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  position: relative;
}

.compensation__item-svg {
  width: 49px;
  height: 48px;
  margin-bottom: 41px;
  margin-top: 30px;
}

.compensation__item::before {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  top: 0px;

}

.compensation__item p {
  margin: 0;
  text-align: center;
}

/*Motivation*/

.motivation-box {
  margin: 0 auto;
  width: 954px;
}

.compensation-motivation {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.compensation-motivation span {
  color: #B01736;
}

.compensation-motivation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: center;

}


.compensation-motivation__item p{
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

/*Slider*/

.slider {
  margin-bottom: 70px;
}

.slider h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  margin: 0;
  margin-bottom: 58px;
}

.slider img {
  margin-bottom: 12px;
}

.slider__pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.slider__pagination-item {
}

.pagination-button {
  padding: 0;
  border: none;
  width: 214px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

.pagination-button:hover {
  background-color: #A30C33;
}